<!-- views/pages/users.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <ol class="breadcrumb bg-light text-dark">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Advertisers</li>
            </ol>
        </div>
    </nav>
</header>

<main>
    <div class="jumbotron bg-light text-dark">
        <h1 class="display-3">Advertiser</h1>

        <p class="lead">There are a total of <strong><%= results.length %></strong>
            advertisers in the application.</p>
        <p class="lead">Get to know about them by clicking on their profile.</p>
    </div>
    <div class="container">
        <div class="row">
            <% results.forEach(el => { %>
                <div class="col-sm-4">
                    <div class="card mb-3">
                        <a href="/advertiser/<%= el.id %>">
                            <img class="card-img-top img-fluid" src=" <%= el.image_url %> " alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <h4 class="card-title">
                                <%= el.advertiser_name %>
                            </h4>
                            <p class="card-text">
                                <%= el.email %>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    Created at:
                                    <%= (el.created_at.getMonth() + 1) + '/' + el.created_at.getDate() + '/' + el.created_at.getFullYear() %>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
