<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <ol class="breadcrumb bg-light text-dark">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
            </ol>
        </div>
        <a href="/adjudicate/comment" style="margin-right: .5rem;">
            <button type="button" class="btn btn-link">Adjudicate Comment</button>
        </a>
        <a href="/adjudicate/photo" style="margin-right: .5rem;">
            <button type="button" class="btn btn-link">Adjudicate Photo</button>
        </a>
        <a href="/advertisers" style="margin-right: .5rem;">
            <button type="button" class="btn btn-link">Advertisers</button>
        </a>
        <a href="/create/profile" style="margin-right: .5rem;">
            <button type="button" class="btn btn-link">Create User</button>
        </a>
        <a href="/metrics" style="margin-right: .5rem;">
            <button type="button" class="btn btn-link">Metrics</button>
        </a>
        <a href="/photos" style="margin-right: .5rem;">
            <button type="button" class="btn btn-link">Photos</button>
        </a>
        <a href="/profiles">
            <button type="button" class="btn btn-link">Profiles</button>
        </a>
    </nav>
</header>
<main>
    <div class="jumbotron bg-light text-dark">
        <h1 class="display-3">PhotoGram</h1>
    </div>
    <% result.forEach(el => {
        let time = new Date(el.created_At);
        let now = Date.now();
        var Difference_In_Days = Math.floor((now - time) / (1000 * 3600 * 24));
    %>
    <div class="container feed">
        <div class="row" style="padding-top: 1rem;">
            <div class="col-2">
                <a href="/profile/<%= el.ID %>">
                    <img class="rounded-circle z-depth-2"
                         alt="30x30" src="<%= el.profile_url %>"
                         data-holder-rendered="true" style="max-width: 50px; padding-top: 1rem;">
                </a>


            </div>
            <div class="col-10" style="padding-top: 1rem;">
                <p>
                    <%= el.username %>
                </p>
                <p>
                    <%= el.caption %>
                </p>

                <p style="color: gray">
                    <small>
                        Posted
                        <%= Difference_In_Days %>
                        Days ago
                    </small>
                </p>
            </div>

        </div>
        <div class="row " style="text-align: center; display: block;">
            <a href="/photo/<%= el.photo_id %>">
                <img class="rounded"
                     src="<%= el.image_url %>"
                     alt="photo" style="width: 400px;">
            </a>
        </div>
        <div class="row" style="padding-top: 0.5rem;padding-bottom: 0.25rem;">

            <div class="col-2 text-right">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                <%= el.freq.FREQ %>
            </div>
            <div class="col-7"></div>
            <div class="col-3 text-center">
                <i class="fa fa-comments-o" aria-hidden="true"></i>
                <%= el.comments.length %>
            </div>

        </div>
    </div>
    <% }) %>
</main>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
