<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <ol class="breadcrumb bg-light text-dark">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
            </ol>
        </div>
    </nav>
</header>
<main>
    <div class="jumbotron bg-light text-dark">
        <h1 class="display-3">PhotoGram</h1>
    </div>
    <% result.forEach(el => {
        let time =  new Date(el.created_At);
        let now = Date.now();
        var Difference_In_Days = Math.floor((now - time) / (1000 * 3600 * 24));
    %>
    <div class="container feed">
        <div class="row" style="padding-top: 1rem;">
            <div class="col-2">
                <a href="/profile/<%= el.ID%>">
                    <img class="rounded-circle z-depth-2"
                         alt="30x30" src="<%= el.profile_url %>"
                         data-holder-rendered="true" style="max-width: 50px; padding-top: 1rem;">
                </a>


            </div>
            <div class="col-10" style="padding-top: 1rem;">
                <p>
                    <%= el.username %>
                </p>
                <p>
                    <%= el.caption %>
                </p>

                <p style="color: gray">
                    <small>
                        Posted
                        <%= Difference_In_Days %>
                        Days ago
                    </small>
                </p>
            </div>

        </div>
        <div class="row " style="text-align: center; display: block;">
            <a href="/photo/<%= el.photo_id %>">
                <img class="rounded"
                     src="<%= el.image_url %>"
                     alt="photo" style="width: 400px;">
            </a>
        </div>
        <div class="row" style="padding-top: 0.5rem;padding-bottom: 0.25rem;">

            <div class="col-2 text-right">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                <%= el.freq.FREQ %>
            </div>
            <div class="col-7"></div>
            <div class="col-3 text-center">
                <i class="fa fa-comments-o" aria-hidden="true"></i>
                <%= el.comments.length %>
            </div>

        </div>
    </div>
    <% }) %>

<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-4 nopadding">-->
<!--                <img class="rounded" src="https://i.picsum.photos/id/328/200/300.jpg?hmac=rUU8GIGsrhqhqkiTi6qIQXtGstAUmnv4yV1bc_Sns7w"-->
<!--                     alt="photo" >-->
<!--            </div>-->
<!--            <div class="col-lg-8 nopadding">-->
<!--               <div class="row" style="margin-top: 2rem">-->
<!--                   USERNAME-->
<!--               </div>-->
<!--                <div class="row" style="margin-top: 1rem; padding-right: 7rem">-->
<!--                    The placeholder text, beginning with the line “Lorem ipsum dolor sit amet, consectetur adipiscing elit”,-->
<!--                    looks like Latin because in its youth, centuries ago, it was Latin.-->
<!--                </div>-->
<!--                <div class="row" style="margin-top: 5rem;">-->
<!--                    <div class="col-lg-2 text-left">-->
<!--                        <p>-->
<!--                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>-->
<!--                           4-->
<!--                        </p>-->
<!--                    </div>-->
<!--                    <div class="col-lg-7"></div>-->
<!--                    <div class="col-lg-3 text-left">-->
<!--                        <p>-->
<!--                            5/23/07-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->



<!--    <div class="container">-->
<!--        <h1>JOIN US</h1>-->
<!--        <p class="lead">Enter your email to join <strong></strong>-->
<!--            others on our waitlist. We are 100% not a cult </p>-->


<!--        <form method="POST" action="/register">-->
<!--            <label>-->
<!--                <input type="text" class="form" placeholder="Enter Your Email" name="email">-->
<!--            </label>-->
<!--            <button class=" btn btn-primary">Join Now</button>-->
<!--        </form>-->
<!--    </div>-->
</main>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
