<!-- views/pages/users.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <ol class="breadcrumb bg-light text-dark">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Photos</li>
            </ol>
        </div>
    </nav>
</header>

<main>
    <div class="jumbotron bg-light text-dark">
        <h1 class="display-3">Photos</h1>

        <p class="lead">There are a total of <strong><%= results.length %></strong>
            photos in the application.</p>
    </div>
    <div class="container">
        <div class="row">
            <% for(var i = 0; i < results.length; i++) { %>
                <div class="col-sm-4">
                    <div class="card mb-3">
                        <img class="card-img-top img-fluid" src=" <%= results[i].image_url %> " alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">
                                <%= results[i].username %>
                            </h4>
                            <p class="card-text">
                                <%= results[i].caption %>
                            </p>
                            <p class="card-text">
                                <a type="button" class="btn btn-outline-dark" href="/photo/<%= results[i].id %>">More
                                    Info</a>
                                <button type="button" class="btn btn-outline-warning  pop-modal"
                                        data-toggle="modal" data-target="#exampleModal"
                                        id="<%= results[i].comment_id %>"
                                        onclick="reply_click(<%= results[i].id %>)">
                                    Report <i class="fa fa-flag" aria-hidden="true"></i>
                                </button>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    Created at:
                                    <%= results[i].created_at %>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Report Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form method="POST" action="/report-photo">
                        <p><strong>Please select an option for reporting</strong></p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="action" id="exampleRadios1"
                                   value="SEXUAL">
                            <label class="form-check-label" for="exampleRadios1">
                                Sexual conduct and not appropriate.
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="action" id="exampleRadios2"
                                   value="RUDE">
                            <label class="form-check-label" for="exampleRadios2">
                                Unacceptable bullying behavior.
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="action" id="exampleRadios3"
                                   value="OTHER">
                            <label class="form-check-label" for="exampleRadios2">
                                Other reason, needs investigation.
                            </label>
                        </div>
                        <button class="btn btn-outline-danger">Submit Action</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
<% include ../partials/extensions %>
<script>
    $('#exmpleModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })

    function reply_click(clicked_id) {

        let val1 = $("#exampleRadios1").val();
        let val2 = $("#exampleRadios2").val();
        let val3 = $("#exampleRadios3").val();

        $("#exampleRadios1").val(`${val1}-${clicked_id}`);
        $("#exampleRadios2").val(`${val2}-${clicked_id}`);
        $("#exampleRadios3").val(`${val3}-${clicked_id}`);
    }
</script>

</body>
</html>
